<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<center>
        <h1 style="color:black">저를 소개해보겠습니다 >...< </h1>

        <div>
             <p class="bg-success">안녕하세요 ;) 멋쟁이 사자처럼 7기입니다 ! </p>
        </div>
        
        <div>
            <p class="bg-success">저는 건양대학교 3학년 의료신소재학과 , 비전공자 정성주입니다 :) </p>
        </div>
        
        <div>
            <p class="bg-success">열심히 배워서 저만의 페이지를 예쁘게 만들어보겠습니다 ! </p>
        </div>
        
        <button type="button" class="btn btn-warning"><a href="{% url 'home' %}" style="color:antiquewhite">home</a></button>

</center>


