<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<center>
        <h1 style="color:black">count</h1>

        <div class="alert alert-danger" role="alert"><h1>당신이 입력한 텍스트는 <span class="label label-danger">{{total}}</span>단어로 구성되어있습니다</h1></div>
        
        

                  <div class="thumbnail" >
                    <div class="caption" >
                            <h1>입력한 텍스트:</h1>
                            <!-- 입력받은 전체 텍스트 -->
                            {{fulltext}}
                            
                            <h1>단어 카운트</h1>
                            <!-- 단어 - 단어수 -->
                            {% for word, countTotal in dictionary%}
                            {{word}} - {{countTotal}}
                            <br>
                            {% endfor %}
                            

                    </div>
                  </div>

              <button type="submit" class="btn btn-info"><a href="{% url 'home' %}">home</a></button>

            </center> 
        
        

