<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<center>
    <h1 style="color:blanchedalmond;"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>wordcount<span class="glyphicon glyphicon-heart" aria-hidden="true"></span></h1>
   
    <button type="button" class="btn btn-warning"><a href="{% url 'about' %}" style="color:aliceblue;">about</a></button>

    <form action="{% url 'count' %}">
        <textarea name="fulltext" cols="40" rows="10"></textarea>
        <br>
        <button type="submit" class="btn btn-info">count</button>
    </form>
</center>


